<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887401784842-npp6rqm1hdss2aft0middahjob9bi3rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887401784842-npp6rqm1hdss2aft0middahjob9bi3rd</string>
	<key>API_KEY</key>
	<string>AIzaSyA7rMYeXe055GYFqHKbK9A_HV3AE0klcxA</string>
	<key>GCM_SENDER_ID</key>
	<string>887401784842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diginest.alysham</string>
	<key>PROJECT_ID</key>
	<string>alysham-b6a5b</string>
	<key>STORAGE_BUCKET</key>
	<string>alysham-b6a5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887401784842:ios:87a6abea5b5c597cc961f3</string>
</dict>
</plist>